<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>controller.Success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>controller.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAkun</servlet-name>
        <servlet-class>controller.ListAkun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>controller.EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemCart</servlet-name>
        <servlet-class>controller.DeleteItemCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop</servlet-name>
        <servlet-class>controller.Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetilBuku</servlet-name>
        <servlet-class>controller.DetilBuku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutStep1</servlet-name>
        <servlet-class>controller.CheckoutStep1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutStep2</servlet-name>
        <servlet-class>controller.CheckoutStep2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutStep3</servlet-name>
        <servlet-class>controller.CheckoutStep3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutStep4</servlet-name>
        <servlet-class>controller.CheckoutStep4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheckout</servlet-name>
        <servlet-class>controller.UserCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCheckout</servlet-name>
        <servlet-class>controller.ListCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCheckoutAdmin</servlet-name>
        <servlet-class>controller.ListCheckoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Konfirmasi</servlet-name>
        <servlet-class>controller.Konfirmasi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAkun</servlet-name>
        <url-pattern>/ListAkun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemCart</servlet-name>
        <url-pattern>/DeleteItemCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop</servlet-name>
        <url-pattern>/Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetilBuku</servlet-name>
        <url-pattern>/DetilBuku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutStep1</servlet-name>
        <url-pattern>/CheckoutStep1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutStep2</servlet-name>
        <url-pattern>/CheckoutStep2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutStep3</servlet-name>
        <url-pattern>/CheckoutStep3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutStep4</servlet-name>
        <url-pattern>/CheckoutStep4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheckout</servlet-name>
        <url-pattern>/UserCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCheckout</servlet-name>
        <url-pattern>/ListCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCheckoutAdmin</servlet-name>
        <url-pattern>/ListCheckoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Konfirmasi</servlet-name>
        <url-pattern>/Konfirmasi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
